.PadraoFormLojas .form-geral {
    display: flex;
    align-items: flex-end;
}
/* ESTILOS AOS ROTULOS DE CAMPOS*/
.PadraoFormLojas .form-geral label {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}
.PadraoFormLojas .form-geral label > span {
    display: flex;
    align-items: flex-end;
    color: firebrick;
}

.PadraoFormLojas .form-geral label:nth-child(1){
    flex: 2;
}
/* ESTILOS A MENSAGEM DE ERRO */
.PadraoFormLojas > span {
    margin: 10px 10px 0 10px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    color: firebrick;
    font-weight: bold;
    font-style: italic;
    /*border-bottom: 1px solid firebrick;*/
}


/* ESTILOS AO BOTÃO DE ENVIO */
.PadraoFormLojas .form-geral .Botao {
    background-color: white;
    font-weight: 700;
    color: firebrick;
    border: 2px solid firebrick;
    border-radius: 30px;
    transition: .3s;
    margin-right: 5px;
    margin-bottom: 0;
    outline: none;
}
/* MOUSE ACIMA ALTERA COR E FUNDO*/
.PadraoFormLojas .form-geral .Botao:hover {
    background-color: firebrick;
    color: white;;
}

/* ORGANIZACAO EM TELAS MENORES*/
@media screen and (max-width: 767px){
    .PadraoFormLojas .form-geral {
        flex-direction: column;
    }
    .PadraoFormLojas .form-geral label {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .PadraoFormLojas .form-geral .Botao {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
}